html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.el-main {
  background-color: #f0f8fe !important;
  margin: 0;
  padding: 1px 0 0 1px;
}
.el-menu {
  padding: 0 !important;
}
.el-breadcrumb {
  padding: 5px 0 0 5px;
  margin-bottom: 5px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
  margin-left: 50%;
  transform: translate(-25%);
}

.el-label {
  padding: 0 !important;
}
.tdt-marker-icon {
  /* width: 90px !important;
    height: 90px !important; */
}
.tdt-infowindow {
  width: 500px !important;
  border-radius: 10px !important;
  z-index: 9999;
}
#infoWin {
  height: 200px;
  width: 450px;
}

.amap-logo {
  display: none !important;
}

.amap-copyright {
  display: none !important;
  /*opacity: 0;*/
}
.ec-extension-amap,
.amap-container {
  height: 100%;
  width: 100%;
  position: relative !important;
}
